.box {
    position: relative;
    width: auto;
    height: auto;
    background: repeating-conic-gradient(from var(--a), #ff2770 0%, #ff2770 5%, transparent 5%, transparent 40%, #ff2770 50%);
    animation: animate 4s linear infinite;
    border-radius: 100%;
}

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate {
    0% {
        --a: 0deg;
    }
    100% {
        --a: 360deg;
    }
}

.box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a), #45f3ff 0%, #45f3ff 5%, transparent 5%, transparent 40%, #45f3ff 50%);
    animation: animate 4s linear infinite;
    animation-delay: -1s;
    border-radius: 100%;
}

.box::after {
    content: '';
    position: absolute;
    inset: 8px;
    border-radius: 100%;
}